
<html>
  <head>
    <style>
    body {
        background-color: lightblue;
        /* color: azure; */
        font-size: 1.1em;
        padding: 25px 50px 75px 100px;

    }
    h1 {
        color: coral;
    }
    </style>

  </head>
<body>
  <center>
  <% if @user %>
  <h1> Welcome, <%= @user.email %></h1>
  <% end %>
  <form action='users/new' method='GET'>
    <input type='submit' value='New User'>
  </form>
  <form action='sessions/new' method='GET'>
    <input type='submit' value='Sign in'>
  </form>
  <form action='sessions/destroy' method='POST'>
    <input type='submit' value='Sign out'>
  </form>
  <form action="/bookmarks/filter-bookmarks" method='GET'>
     <input type='hidden' name='_method' value='GET'>
     <input type='submit' value='Filter Bookmarks'>
  </form>
 <% @bookmarks.each do |bookmark| %>
 <a href="<%= bookmark.url %>"> <%= bookmark.title %></a>
     <!-- <li> -->
     <div style padding: 25px 50px 75px 100px; >
          Comments: <% Bookmark.retrieve(bookmark.id).each do |comment| %>
          <%= comment %>
          <% end %>
          Tags: <% TagJunction.return_tags(bookmark).each do |tag| %>
          <%= tag.tag %>
          <% end %>
       <form action="/bookmarks/<%= bookmark.id %>" method='POST'>
          <input type='hidden' name='_method' value='DELETE'>
          <input type='submit' value='Delete'>
       </form>
       <form action="/bookmarks/update" method='GET'>
          <input type='hidden' name='id' value='<%= bookmark.id %>'>
          <input type='submit' value='Update'>
        </form>
        <form action="/bookmarks/comment" method='GET'>
           <input type='hidden' name='id' value='<%= bookmark.id %>'>
           <input type='submit' value='Add comment'>
         </form>
         <form action="/bookmarks/tags" method='GET'>
            <input type='hidden' name='id' value='<%= bookmark.id %>'>
            <input type='submit' value='Add Tag'>
          </form>
        </div>
    <!-- </li> -->
 <% end %>
<form action='/bookmarks' method='POST'>
  title: <input type='text' name='title'>
  url: <input type='text' name='url'>
  <input type='submit' value='Add bookmark'>
</form>
<% if @url_invalid == 'true' %>
Cannot add: not a valid URL
<% end %>
</center>
</body>
</html>
