<ul>
 <% @bookmarks.each do |bookmark| %>
 <a href="<%= bookmark.url %>"> <%= bookmark.title %></a>
     <li>
          <% Bookmark.retrieve(bookmark.id).each do |comment| %>
          <%= comment %>
          <% end %>
       <form action="/bookmarks/<%= bookmark.id %>" method='POST'>
          <input type='hidden' name='_method' value='DELETE'>
          <input type='submit' value='Delete'>
       </form>
       <form action="/bookmarks/update" method='GET'>
          <input type='hidden' name='id' value='<%= bookmark.id %>'>
          <input type='submit' value='Update'>
        </form>
        <form action="/bookmarks/comment" method='GET'>
           <input type='hidden' name='id' value='<%= bookmark.id %>'>
           <input type='submit' value='Add comment'>
         </form>
    </li>
 <% end %>
</ul>
<form action='/bookmarks' method='POST'>
  title <input type='text' name='title'>
  url <input type='text' name='url'>
  <input type='submit' value='Add bookmark'>
</form>
<% if @url_invalid == 'true' %>
Cannot add: not a valid URL
<% end %>
